@tailwind base; 
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Header Height */
        --header-height: 4rem;
        /* Font Family */
        --font-mont: "Montserrat", sans-serif;
        --font-bebas: "Bebas Neue", sans-serif;
        --font-alfa: "Alfa Slab One", serif;
        /* Custom Colors Palletes Variable */
        --first-color: 42 100% 60%; /*yellow*/
        --first-color-alt: 0 78% 49%; /*red*/
        --body-color: 0 0% 100%; /*white*/
        --title-color: 23 71% 15%; /*redish*/
        --title-color-alt: 41 97% 86%; /*yellowish orange*/
        --text-color: 180 1% 27%; /*gray*/
        --black: 0 0% 0%;
        --white: 0 0% 100%;
        /* Responsive Typography */
        /* --fs-xxl: 1.25rem;
        --fs-xl: 1.125rem;
        --fs-lg: 1rem;
        --fs-md: 0.875rem;
        --fs-sm: 0.8125rem;
        --fs-xm: 0.75rem;
        --fs-xxm: 0.65rem;
        @screen xm {
            --fs-xxl: 1.125rem;
            --fs-xl: 1rem;
            --fs-lg: 0.875rem;
            --fs-md: 0.8125rem;
            --fs-sm: 0.75rem;
            --fs-xm: 0.65rem;
            --fs-xxm: 0.5rem;
        }
        @screen sm {
            --fs-xxl: 1.375rem;
            --fs-xl: 1.25rem;
            --fs-lg: 1.125rem;
            --fs-md: 1rem;
            --fs-sm: 0.875rem;
            --fs-xm: 0.8125rem;
            --fs-xxm: 0.75rem;
        } */
        body,input,textarea {
            @apply font-mont;
        }
        body {
            @apply fs-md leading-5 bg-c-body text-c-prime;
        }
        h1,h2 {
            @apply font-alfa text-c-title font-bold uppercase
        }
        h3,h4,a {
            @apply font-bebas uppercase tracking-widest
        }
        a.btn, input.btn {
            @apply font-alfa uppercase tracking-widest
        }
        input {
            @apply fs-md lg:fs-lg;
            &[type=submit] {
                @apply cursor-pointer;
            }
        }
        input::-webkit-input-placeholder {
            @apply font-bebas text-c-prime capitalize
        }
        input::-ms-input-placeholder {
            @apply font-bebas text-c-prime capitalize
        }
        input::-moz-placeholder {
            @apply font-bebas text-c-prime capitalize
        }
    }
}

@layer components {
    /* Reusable Classes */
    .logo {
        @apply w-[140px] xm:w-[110px] sm:w-[160px] lg:w-[200px]
    }
    .hamburger-btn {
        @apply w-[30px] h-[30px] z-[55] flex flex-col justify-center items-center gap-y-1 transe-ease-l;
        span {
            @apply block w-[30px] h-[3px] xm:w-[22px] bg-c-title transe-ease-l;
        }
        &.dynamic-style {
            span {
                &:nth-child(2) {
                    @apply translate-x-[30px] opacity-0 invisible;
                }
                &:nth-child(1) {
                    transform: rotate(-45deg) translate(-5px,5px);
                }
                &:nth-child(3) {
                    transform: rotate(45deg) translate(-4.5px,-4px);
                }
            }
        }
    }

    /* Section Styles */
    .section {
        @apply pt-16 pb-4 lg:pt-24 xl:pt-32 xl:pb-8;
    }
    .sec-subtl {
        @apply inline-block font-semibold text-c-title;
    }
    .subtl-first {
        @apply table mx-auto fs-lg py-2 px-3 xm:py-1 xm:px-2 bg-c-first mb-5 xm:mb-3 sm:mb-8 md:mb-12;
    }
    .subtl-second {
        @apply fs-xl mb-3 sm:mb-4 md:mb-6 xl:mb-8 block text-center
    }
    .section-title {
        @apply fs-heading xm:text-[1.35rem] mb-6 sm:mb-8 lg:mb-10 text-center
    }
    .section-title-alt {
        @apply fs-heading-alt xm:text-[1.35rem] mb-6 sm:mb-8 lg:mb-10 leading-10
    }
    /* Btn Styles */
    .btn {
        @apply inline-block px-4 py-3 fs-md font-bold transe-ease;
    }
    .btn-first {
        @apply text-c-body bg-c-first-alt;
        &:hover {
            @apply bg-c-first text-c-first-alt;
        };
    };
    /* Shadow Classes */
    .text-solid-sh {
        text-shadow: 4px 3px 0 hsl(var(--title-color-alt));
    }
    .outer-item-sh {
        @apply inline-block w-[170px] h-[10px] bg-c-black rounded-[50%] blur-[9px]
    }
    /* Overlay Classes */
    .dark-overlay {
        @apply relative;
        &::after {
            @apply content-[''] absolute top-0 left-0 w-full h-full bg-c-black/70 transe-ease
        }
    }
}

@layer utilities {

}


/* Swiper Slider Styles */
.swiper-pagination-bullet {
    @apply w-[10px] h-[10px];
}
.swiper-pagination-bullet-active {
    @apply bg-c-first
}
/* Discover Swiper Slider Styles */
.discover-swiper-pagination.swiper-pagination-horizontal {
    @apply bottom-[15px] left-0 w-full md:w-fit md:bottom-[20px] md:left-[20px] lg:bottom-[25px] lg:left-[30px]
}